<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Form</title>
  </head>
  <body>
    <a href="/">Read all messages</a>
    <form method="POST" action="/new">
      <h1>My Form</h1>
      <div>
        <label for="name">My Name: </label
        ><input id="name" type="text" name="user" />
      </div>
      <div>
        <label for="text">Text goes here: </label
        ><input id="text" type="text" name="text" />
      </div>
      <button type="submit">Submit Form</button>
    </form>
  </body>
</html>
