<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Message</title>
  </head>
  <body>
    <div><%= message[0].username %></div>
    <div><%= message[0].text %></div>
    <div><%= message[0].added %></div>
  </body>
</html>
